{% load static %}




<nav class="navbar navbar-light" style="background-color:#1c82cc;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/logo.png' %}" alt="Logo" width="70" height="27" class="d-inline-block align-text-top">
        FAKE NEWS OUT
      </a>
    </div>
  </nav>


<!-- <header class="bg-light text-center py-3">
    <img src="{% static 'img/logo.png' %}" alt="Logo" width="100">
    <h1 class="font-weight-bold">FAKE NEWS OUT</h1>
</header> -->